
/* =Comments
--------------------------------------------------------------*/
#comments {
	padding: 5px 2.5%;
}

.comment {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.comments-title {
	font-size: 30px;
	font-weight: normal;
	line-height: 38px;
	padding-bottom: 15px;
}

#content .comments-area ul, #content .comments-area ol {
	margin: 0 0 30px 30px;
}

#content .comments-area ul ul, #content .comments-area ol ol {
	margin-bottom: 0;
}

.comments-area article {
	margin: 24px 0;
	margin: 1.7rem 0;
	border-bottom: 2px dashed #eaeaea;
}

.comments-area article header {
	margin: 0 0 2.4rem;
	overflow: hidden;
	position: relative;
}

.comments-area article header img {
	float: left;
	padding: 0;
	line-height: 0;
}

.comments-area article header cite, .comments-area article header time {
	display: block;
	margin-left: 35px;
	margin-left: 4rem;
}

.comments-area article header cite {
	font-style: normal;
	font-size: 15px;
	font-size: 1.1rem;
	line-height: 1.4;
}

.comments-area article header time {
	line-height: 1.7;
	text-decoration: none;
	font-size: 12px;
	font-size: 0.86rem;
	color: #5e5e5e;
}

.comments-area article header a {
	text-decoration: none;
	color: #5e5e5e;
}

.comments-area article header a:hover {
	color: #21759b;
}

.comments-area article header cite a {
	color: #444;
}

.comments-area article header cite a:hover {
	text-decoration: underline;
}

.comments-area article header h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 12px;
	padding: 0.4rem 0.8rem;
	font-size: 12px;
	font-size: 0.8rem;
	font-weight: normal;
	color: #fff;
	background-repeat: repeat-x;
	background: #0088d0;
	border-radius: 3px;
	border: 1px solid #007cbd;
}

.comments-area li.bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	margin-left: 0.35rem;
	padding: 2px 5px;
	padding: 0.14rem 0.35rem;
	font-size: 10px;
	font-size: 0.714285714rem;
}

a.comment-reply-link:before {
	font-family: 'Genericons';
	content: '\f412';
	margin-right: 3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	*overflow: auto;
	*zoom: 1;
	*display: inline;
}

a.comment-reply-link {
	font-size: 13px;
	font-size: 0.9rem;
	line-height: 1.8;
	color: #686868;
}

a.comment-reply-link:hover {
	color: #21759b;
}

.commentlist .pingback {
	line-height: 1.7;
	margin-bottom: 24px;
	margin-bottom: 1.71rem;
}

.commentlist .children {
	margin-left: 48px;
	margin-left: 3.42rem;
}

/* Comment form */
#respond {
	margin-top: 1rem;
}

#respond h3#reply-title {
	font-size: 30px;
	font-weight: normal;
}

#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	margin-left: 0.71rem;
	font-weight: normal;
	font-size: 12px;
	font-size: 0.85rem;
}

#respond form {
	margin: 24px 0;
	margin: 1.7rem 0;
}

#respond form p {
	margin: 0.78rem 0;
}

#respond form p.logged-in-as {
	margin-bottom: 24px;
	margin-bottom: 1.7rem;
}

#respond form label {
	display: block;
	line-height: 1.7;
}

#respond form input[type="text"], #respond form textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.85rem;
	line-height: 1;
	padding: 10px;
	padding: 0.714rem;
	width: 100%;
}

#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 12px;
	font-size: 0.85rem;
	line-height: 2;
	color: #5e5e5e;
}

.required {
	color: red;
}

label ~ span.required {
	display: block;
	float: left;
	margin: -18px 0 0 -16px;
	margin: -1.28rem 0 0 -1.14rem;
}

#disqus_thread {
	padding: 5px 15px;
}