/* =Header
-----------------------------------------------*/
#branding {
	background-color: #fff;
}

.hgroup-wrap {
	padding-top: 15px;
	padding-bottom: 12px;
}

.hgroup-wrap a {
	display: block;
	float: left;
}

#site-logo {
	float: left;
	margin-top: 6px;
	box-sizing: border-box;
	width: 80%;
}

#site-title {
	font-size: 36px;
	line-height: 50px;
	color: #333;
}

#site-logo a {
	color: #015198;
	letter-spacing: -2px;
}

#site-logo a img {
	vertical-align: inherit;
	max-width: 978px;
	padding-right: 16px;
}

#site-title a span, #site-title a:hover, #site-title a:focus, #site-title a:active {
	color: $primary-color;
}

#site-description {
	font: 18px helvetica, sans-serif;
	line-height: 36px;
	color: #555;
	font-weight: 200;
}

.hgroup-right {
	float: right;
	margin-top: 6px;
	box-sizing: border-box;
}

/* Header Image */
.header-image {
	width: 100%;
	height: auto;
}

.searchform {
	max-width: 100%;

	input[type=text] {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
	}
}

.top-header {
	background-color: #333;
	padding: 10px 0;
	border-bottom: 3px solid $primary-color;

	.tm-table {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	&:after {
		content: '';
		display: table;
		clear: both;
	}

	.top-left, .top-right {
		width: 50%;
		display: table-cell;
		vertical-align: middle;
	}

	.top-left {
		img {
			max-height: 28px;
		}

		.list-links {
			li {
				display: inline-block;
				color: #999;
				font-size: 13px;
				padding-right: 20px;

				span {
					line-height: 26px;
					padding-right: 5px;
					position: relative;
					top: 5px;
					font-size: 18px;
				}

				.genericon-mail {
					&:before {
						content: '\f410';
					}
				}

				.genericon-handset {
					&:before {
						content: '\f50c';
					}
				}

				.genericon-home {
					&:before {
						content: '\f409';
					}
				}
			}
		}
	}
}