.homepage-template {
	.top-content {
		margin-bottom: 20px;
		min-height: 400px;
		padding: 15px;
		background-color: #fff;
		position: relative;

		.label-highlight {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $primary-color;
			padding: 10px 30px;
			font-size: 20px;
			color: #fff;
			z-index: 999;
		}

		.socials-links {
			position: absolute;
			bottom: 10px;
			right: 0;
			padding: 10px 30px;
			font-size: 20px;
			color: #fff;
			z-index: 999;
		}

		.spot-light {

		}

		.home-info {
			.page-title {
				position: relative;
				padding-bottom: 10px;
				margin-bottom: 20px;

				&:after {
					content: '';
					width: 40px;
					height: 2px;
					background-color: $primary-color;
					position: absolute;
					margin-top: 20px;
					left: 0;
					bottom: 0;
				}
			}
		}
	}

	.bottom-content {
		#main_button_col_1 {

		}

		.super-buttom {
			padding-top: 20px;
			border-top: 1px solid rgba(51, 51, 51, 0.1);
		}
	}

	.widget {
		a {
			color: #333;
		}

		.fituet_partners_horizontal {
			display: block;
		}

		.fituet_partners {
			display: none;
		}
	}
}

@media only screen and (max-width: 992px) {
	.homepage-template {
		.top-content {

			.label-highlight {
			}

			.socials-links {
				position: relative;
			}

			.spot-light {

			}

			.home-info {
				.page-title {
				}
			}
		}

		.bottom-content {
			#main_button_col_1 {

			}
		}
	}

}

@media only screen and (max-width: 767px) {
	.homepage-template {
		.top-content {
			padding-bottom: 0;

			.label-highlight {
			}

			.socials-links {
				position: relative;
			}

			.spot-light {
				width: 100%;
				margin-bottom: 20px;
			}

			.home-info {
				width: 100%;

				.page-title {
					padding-left: 0;
				}
			}
		}

		.bottom-content {
			.col {
				float: none;
				width: 100%;
				padding-bottom: 20px;
			}
		}

		.widget {
			ul {
				padding-left: 10px;
				padding-right: 10px;
			}

			.fituet-event {
				padding-left: 10px;
				padding-right: 10px;
			}
			.fituet_partners_horizontal {
				display: none;
			}

			.fituet_partners {
				display: block;
			}
		}
	}
}