/**
 * @package Fituet
 */

@import url('style.css');

/* Add overwrites as needed so that the content of the editor field is attractive and not broken */
body {
	padding: 0px 15px;
	border-top: none;
	width: 603px;
}

li {
	list-style: disc;
	margin-left: 40px;
}
ul {
	margin-bottom: 10px;
}